<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Thread Local Test Sanity Suite" verbose="3" parallel="tests" thread-count="2">
  
	<test name="Google Test" parallel="methods" thread-count="5">
	  <parameter name="browser" value="chrome"/>
		<classes>
			<class name="MyTest.GoogleTest" >
			<methods>
			    <include name= "googleTitleTest_1"/>
			    <include name= "googleTitleTest_2"/>
			    <include name= "googleTitleTest_3"/>
			    <include name= "googleTitleTest_4"/>
			</methods>
			</class>
			</classes>
	</test>
	
	<test name="Facebook Test" parallel="methods" thread-count="4">
	  <parameter name="browser" value="firefox"/>
		<classes>
			<class name="MyTest.FacebookTest" >
			<methods>
			    <include name= "facebookTitleTest_1"/>
			    <include name= "facebookTitleTest_2"/>
			</methods>
			</class>
			</classes>
	</test>
	
	
	
	
	
</suite>